@model SomerenApp.Models.Room
@{
    ViewData["Title"] = "Edit Room";
}

<h4>Edit Room</h4>

<form action="/Rooms/Edit" method="POST">
    <input hidden type="number" name="RoomId" value="@Model?.RoomId" />

    @*RoomNumber*@
    <div class="form-group py-2">
        <label for="RoomNumber">Roomnumber: </label>
        <input type="text" placeholder="- Enter a room number (e.g., A1-03 or B1-04) -" id="RoomNumber" name="RoomNumber" class="form-control mt-2 d-block" required value="@Model?.RoomNumber" />
    </div>

    @*RoomSize*@
    <div class="form-group py-2">
        <label for="RoomSize">Roomsize: </label>
        <select name="RoomSize" id="RoomSize" class="form-control mt-2 d-block">
            <option value=""> - Select a Roomsize - </option>
            <option value="Single Room - GF" selected="@Model?.RoomSize == "Single Room - GF">Single Room - GF</option> @*room for lecturer*@
            <option value="Dormitory - 8 beds" selected="@Model?.RoomSize == "Dormitory - 8 beds">Dormitory - 8 beds</option> @*room for student*@
        </select>
    </div>

    @*RoomType*@
    <div class="form-group py-2">
        <label for="RoomType">Roomtype: </label>
        <select name="RoomType" id="RoomType" class="form-control mt-2 d-block">
            <option value=""> - Select a Roomtype - </option>
            <option value="Lecturer" selected="@Model?.RoomType == "Lecturer">Lecturer</option> @*lecturer*@
            <option value="Student" selected="@Model?.RoomType == "Student">Student</option> @*student*@
        </select>
    </div>

    @*Building*@
    <div class="form-group py-2">
        <label for="Building">Building: </label>
        <select name="Building" id="Building" class="form-control mt-2 d-block">
            <option value=""> - Select a Building - </option>
            <option value="A" selected="@Model?.Building == "A">A</option> @*building A*@
            <option value="B" selected="@Model?.Building == "B">B</option> @*building B*@
        </select>
    </div>

    <button type="submit" class="btn btn-link mt-3 d-block" style="background-color:#585FD6; color: #FFFFFF;" >Save</button>

</form>

<style>
    body {
        font-family: 'Aptos', 'sans-serif';
        font-size: 18px;
    }
    a, h4{
        color: #585FD6;
    }

    a:hover {
        color: #000000;
    }

    button {
        background-color: #585FD6;
    }
</style>

<a href="/Rooms/Index" class="mt-2 d-block">Back to List</a>


