@model List<SomerenApp.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<div class="text-center">
    <h1 class="display-4">Rooms</h1>
    <a href="/Rooms/Create">Create New</a>

    <table class="table table-bordered mt-3 table-hover">
        <thead style="background-color: #EEEFFB; color:#585FD6;">
            <tr>
                <th>Roomnumber</th>
                <th>Roomsize</th>
                <th>Roomtype</th>
                <th>Building</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var room in Model)
                {
                    <tr style="background-color: #F9EEE6;">
                        <td>@room.RoomNumber</td>
                        <td>@room.RoomSize</td>
                        <td>@room.RoomType.ToString()</td>
                        <td>@room.Building</td>

                        <td>
                            <a href="/Rooms/Edit/@room.RoomId" class="link">Edit</a> |
                            <a href="/Rooms/Delete/@room.RoomId" class="link">Delete</a>
                        </td>
                    </tr>    
                
                }

            }
        </tbody>
    </table>
</div>
<style>
    .table-hover tbody tr:hover{
        background-color: #F3E0DC;
    }

    .table, table th, .table td{
        border-color: #585FD6;
    }

    a, h1{
        color: #585FD6;
    }

    a:hover{
        color: #000000;
    }
</style>

<a href="/Rooms/Index">Back to List </a>


