@model List<SomerenApp.Models.Lecturer>
@{
	ViewData["Title"] = "Lecturer";
}
<div class="text-center">
	<h1 class="display-4">Lecturers</h1>
	<a href="Lecturers/Create">Add Lecturer</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Last name</th>
			<th>First name</th>
			<th>Age</th>
			<th>Phone number</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (Lecturer lecturer in Model)
			{
				<tr>
					<td>@lecturer.LastName</td>
					<td>@lecturer.FirstName</td>
					<td>@lecturer.Age</td>
					<td>@lecturer.PhoneNumber</td>
					<td>
						<a href="/Lecturers/Edit/@lecturer.LecturerNumber">Edit</a>
						<a href="/Lecturers/Delete/@lecturer.LecturerNumber">Delete</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
