@model SomerenApp.Models.Activity

@{
    ViewData["Title"] = "Delete Activity";
}

<h4>Delete Activity</h4>
<form action="/Activities/Delete" method="POST">
    <input hidden type="number" name="ActivityNumber" value="@Model?.ActivityNumber" />

    <div class="form-group py-2">
        <label for="ActivityType">Activity Name:</label>
        <select name="ActivityType" id="ActivityType" class="form-control mt-2 d-block">
            <option value=""> - Select a Activity - </option>
            <option value="SoccerTournament" selected="@Model?.ActivityType == " SoccerTournament">SoccerTournament</option>
            <option value="PuzzleQuest" selected="@Model?.ActivityType == "PuzzleQuest">PuzzleQuest</option>
            <option value="ObstacleCourse" selected="@Model?.ActivityType == "ObstacleCourse">ObstacleCourse</option>
        </select>
    </div>

    <div class="form-group py-2">
        <label for="ActivityDate">Activity Date:</label>
        <select name="ActivityDate" id="ActivityDate" class="form-control mt-2 d-block">
            <option value=""> - Select a ActivityDate - </option>
            <option value="MondayAfternoon" selected="@Model?.ActivityDate == " MondayAfternoon">MondayAfternoon</option>
            <option value="TuesdayMorning" selected="@Model?.ActivityDate == " TuesdayMorning">TuesdayMorning</option>
        </select>
    </div>

    <button type="submit" class="btn btn-link mt-3 d-block" style="background-color:#585FD6; color: #FFFFFF;">Delete</button>

</form>

<style>
    body, a {
        font-size: 18px;
    }

    .form-group, h4 {
        text-align: left;
    }

    a, h4 {
        color: #585FD6;
    }

        a:hover {
            color: #000000;
        }

    button {
        background-color: #585FD6;
    }
</style>

<a href="/Activities/Index">Back to List</a>

