@model List<SomerenApp.Models.Activity>
@{
    ViewData["Title"] = "Activity";
}

<div class="text-center">
    <h1 class="display-4">Activity</h1>
    <a href="/Activities/Create" class="mt-3 d-block" style="margin-bottom: 15px;">Create New Activity</a>
    
    <table class="table table-bordered hover">
        <thead style="background-color: #EEEFFB; color:#585FD6;">
            <tr>
                <th>Activity Name</th>
                <th>Activity Time</th>
                <th>Actions</th>
                <th>View Accompaniments</th>
                <th>View Participants</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (Activity activity in Model)
                {
                    <tr style="background-color: #F9EEE6;">
                        <td>@activity.ActivityType.ToString()</td>
                        <td>@activity.ActivityDate.ToString()</td>
            
                        <td>
                            <a href="/Activities/Edit/@activity.ActivityNumber" class="link">Edit</a> |
                            <a href="/Activities/Delete/@activity.ActivityNumber" class="link">Delete</a>
                        </td>
                        <td><a href="/Accompaniments/@activity.ActivityNumber">Accompaniments</a></td>
                        <td><a href="/Participants">Participants</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<a href="/Participants/Index" style="text-align: left;">Manage Activity Participants</a>

<style>
    body, a {
        font-size: 18px;
    }

    .table-hover tbody tr:hover {
        background-color: #F3E0DC;
    }

    .table, table th, .table td {
        border-color: #585FD6;
    }

    a, h1, .Filter_text, label {
        color: #585FD6;
    }

        a:hover {
            color: #000000;
        }

    .form-group {
        text-align: left;
    }

    .Filter_text {
        margin-bottom: 15px;
        font-weight: bold;
    }
</style>


